<script language="JavaScript" type="text/javascript" src="../_modulos/comprar/comprar.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Comprar</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Comprar a proveedores
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Registro de compras a proveedores
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">Datos del producto a comprar</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div>
                                <label for="cod_bar_com" style="text-align: center;" class="col-lg-12">Código de barras</label>
                                <input type="text" id="cod_bar_com" maxlength="30" placeholder="Código de barras" class="form-control" style="text-align: center;">
                            </div>
                            <div style="text-align: center; padding-top: 10px;"></div>
                            <div>
                                <label for="marca_com" style="text-align: center;" class="col-lg-12">Marca + Presentación</label>
                                <select id="marca_com" class="form-control chosen-select tag-input-style">
                                    
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <div id="busca_prod_err" class="alert alert-warning" style="display: none; margin-top: 10px;">

                                </div>
                            </div>
                            <div class="space-30"></div>
                            <div class="col-lg-6">
                                <label for="cantidad_com" >Cantidad</label>
                                <input type="text" id="cantidad_com" maxlength="30" placeholder="Cantidad" class="form-control" style="text-align: right;">
                            </div>
                            <div class="col-lg-6">
                                <label for="subtotal_com" >Subtotal</label>
                                <input type="text" id="subtotal_com" maxlength="30" placeholder="Subtotal" class="form-control" style="text-align: right;">
                            </div>
                            <div class="col-lg-6">
                                <label for="prec_com_com" >Precio compra</label>
                                <input type="text" id="prec_com_com" maxlength="30" placeholder="Precio compra" class="form-control" style="text-align: right;">
                            </div>
                            <div class="col-lg-6">
                                <label for="prec_ven_com" >Precio venta</label>
                                <input type="text" id="prec_ven_com" maxlength="30" placeholder="Precio venta" class="form-control" style="text-align: right;">
                            </div>
                            <div>
                                <label for="prov_compr" style="text-align: center;" class="col-lg-12">Proveedor</label>
                                <select id="prov_compr" class="form-control chosen-select-1 tag-input-style">
                                    
                                </select>
                            </div>                            
                            <div style="text-align: right; padding-top: 15px;" class="">
                                <button id="btn-agregar" class="btn btn-white btn-warning btn-bold" onclick="agregar_compra();">
                                    <i class="ace-icon fa fa-mail-forward bigger-120 orange"></i>
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Fin del formulario col-lg-4 col-xs-12-->
            <div class="col-lg-6 col-xs-12">
                <div class="table-header">Bienvenido a Super Moreno's: esta es su lista de artículos</div>
                <div id="tabla-compra" data-size="445">
                    <div id='sample-table-2_wrapper' class='dataTables_wrapper form-inline no-footer'>
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr>
                                    <th style="width:10px; text-align: center;">Código Barras</th>
                                    <th style="text-align: center;">Producto</th>
                                    <th style="width:20px; text-align: center;">Cantidad</th>
                                    <th style="width:113px; text-align: center;" >Precio Unitario</th>
                                    <th style="width:70px; text-align: center;">Opciones</th>
                                    <th style="width:113px; text-align: center;">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="body_tabla_compra">
                                <tr>
                                    <td class="text-muted" style="padding-top: 13px; text-align: center" colspan="6">No tiene artículos en la lista</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- Fin de la tabla de compras col-lg-6 col-xs-12-->
            <div class="col-lg-2 col-xs-12">
                <div>
                    <label>
                        TOTAL
                        <small class="text-warning">Total a pagar</small>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-usd"></i>
                        </span>
                        <input id="input_total_pagar" class="form-control input-lg" value="0.00" type="text" style="text-align:right;" disabled="disabled">
                    </div>
                </div>
                <button id="btn_pagar" onclick="lanzar_modal_pagar();" class="btn btn-success btn-block">
                    <i class="ace-icon fa fa-usd"></i>
                    Pagar
                </button>
                <button id="btn_pago_parcial" onclick="lanzar_modal_pagar_parcial();" class="btn btn-white btn-warning btn-bold btn-block">
                    <i class="ace-icon fa fa-expand"></i>
                    Pago parcial
                </button>
                <div class="space-10"></div>
                <div>
                    <label>
                        Total
                        <small class="text-warning">Total de artículos</small>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-th-list"></i>
                        </span>
                        <input id="input_cantidad_art_carrito" class="form-control input-lg" value="0" type="text" style="text-align:right;" disabled="disabled">
                    </div>
                </div>
                <div class="space-20"></div>
                <button class="btn btn-white btn-info btn-bold btn-block">
                    <i class="ace-icon fa fa-exchange"></i>
                    Cambiar productos
                </button>
            </div><!-- Fin de los botones col-lg-8 col-xs-12-->
            <div class="col-lg-12">
                <div id="registro_compra_error" class="alert alert-danger" style="display: none;">

                </div>
            </div>
            
            <div id="modal_pagar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Pagar compra</h3>
                        </div>
                        <div class="modal-body">
                            <h5 id="mensaje_pagar"></h5>
                            <div id="mensaje_modal_error_completo" class="alert alert-danger" style="display:none;">
                                
                            </div>
                            <br>
                            <div class="checkbox">
                                <label class="block">
                                    <input class="ace input-lg" type="checkbox" id="check_compra_rap">
                                    <span class="lbl bigger-110">
                                        ¿Compra rápida?
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="pagar_carrito" type="button" class="btn btn-success" onclick="realizar_pago()">
                                <i class='ace-icon fa fa-check'></i>
                                Pagar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal_pagar_parcial" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Registrar compra a crédito</h3>
                        </div>
                        <div class="modal-body">
                            <h4 class="text-warning">El total a pagar es <strong>$<span id="cantidad_a_pagar"></span></strong></h4>
                             <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label no-padding-right">Cantidad a pagar</label>
                                        <div class="col-lg-8">
                                            <input id="cantidad_pagar" type="text" placeholder="Cantidad a pagar" class="col-lg-12" style="text-align: right;">
                                        </div>
                                    </div>
                                    <div class="space-10 col-lg-12"></div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label no-padding-right">Cantidad a crédito</label>
                                        <div class="col-lg-8">
                                            <input id="cantidad_credito" type="text" disabled placeholder="Cantidad a crédito" class="col-lg-12" style="text-align: right;">
                                        </div>
                                    </div>
                                    <div class="space-10 col-lg-12"></div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label no-padding-right">Observaciones</label>
                                        <div class="col-lg-8">
                                            <textarea id="observaciones" class="col-lg-12" cols="30"></textarea>
                                        </div>
                                    </div>
                                    <div class="space-10 col-lg-12"></div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label no-padding-right">Proveedor</label>
                                        <select id="prov_mod" class="chosen-select- tag-input-style col-lg-8">
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                                <div class="space-10 col-lg-12"></div>
                                <div class="alert-danger col-lg-12" id="mensaje_modal_error" style="padding-bottom: 10px; padding-top: 10px; display: none;">
                                    
                                </div>
                             </div>
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-white btn-bold" data-dismiss="modal">Cerrar</button>
                            <button id="registrar_compra_parcial_btn" type="button" class="btn btn-warning btn-white btn-bold" onclick="realizar_pago_parcial()">
                                <i class='ace-icon fa fa-expand'></i>
                                Registrar Compra
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- Fin row cuerpo módulo-->
    </div>
</div>