<script language="JavaScript" type="text/javascript" src="../_modulos/importes/importes.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Importes - Recargas</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Importes - Recargas
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Consulta y cobro de importes, consulta de recargas
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="widget-container-col ui-sortable">
                    <div class="widget-box ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">Consultar historial importes</h5>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up">
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body" style="display:block;">
                            <div class="widget-main">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                        <input class="form-control" type="text" name="fecha_inicial_importes" id="fecha_inicial_importes">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rango_fechas_cuentas_proveedores">Fecha Final</label>
                                    <div class="input-group">
                                        <input class="form-control active" type="text" name="fecha_final_importes" id="fecha_final_importes">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="estatus">Estatus</label>
                                    <div>
                                        <select class="form-control" id="estatus_importes">
                                            <option value="0">Todos</option>
                                            <option value="PA">Pagados</option>
                                            <option value="PE">Pendientes</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="text-align: right;">
                                    <button id="btn_buscar_importes" onclick="buscar_importes()" class="btn btn-success btn-lg">
                                        <i class="ace-icon fa fa-search bigger-120 white"></i>
                                        Buscar
                                    </button>
                                </div>

                                <div id="section_tabla_resultados" style="display:none; margin-top: 30px;">
                                    <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                        <thead>
                                            <tr>
                                                <th align="center">Id</th>
                                                <th>Referencia</th>
                                                <th>Fecha operación</th>
                                                <th>Fecha pago</th>
                                                <th>Importe</th>
                                                <th>Tipo envase</th>
                                                <th>Estatus</th>
                                                <th>Us. generó</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cuerpo_tabla">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="widget-container-col ui-sortable">
                    <div class="widget-box ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">Consultar historial recargas</h5>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up">
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body" style="display:block;">
                            <div class="widget-main">
                                <div class="form-group">
                                    <label>Fecha Inicial</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                        <input class="form-control active" type="text" id="fecha_inicial_recargas">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Fecha Final</label>
                                    <div class="input-group">
                                        <input class="form-control active" type="text" id="fecha_final_recargas">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone bigger-110"></i>
                                        </span>
                                        <input class="form-control active" type="text" id="telefono_buscar_recargas">
                                    </div>
                                </div>

                                <div style="text-align: right;">
                                    <button onclick="buscar_recargas()" class="btn btn-success btn-lg">
                                        <i class="ace-icon fa fa-search bigger-120 white"></i>
                                        Buscar
                                    </button>
                                </div>

                                <div id="section_tabla_resultados_recargas" style="display:none; margin-top: 30px;">
                                    <table id="tabla_resultados_recargas" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Teléfono</th>
                                                <th>Monto</th>
                                                <th>Compañía</th>
                                                <th>Fecha operación</th>
                                                <th>Comisión</th>
                                                <th>Folio</th>
                                                <th>Transacción</th>
                                                <th>No. autorización</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cuerpo_tabla_recargas">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div><!-- Fin del row-->     
    </div>
</div>