<script language="JavaScript" type="text/javascript" src="../_modulos/vender/vender.js"></script>
<div class="main-content-inner">
    <div class="page-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="col-xs-12" style="padding-bottom: 20px;">
                    <img class="img-responsive" src="../_img/logo_principal.png">
                </div>
                <div>
                    <label class="green">Código de barras</label>
                    <div class="input-group">
                        <input id="codebar_vender" type="text" class="form-control input-lg" autofocus>
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                    </div>
                </div>
                <div>
                    <label class="green">Producto</label>
                    <div class="input-group">
                        <select id="productos_vender" type="text" class="form-control chosen-select">
                        </select>
                        <span id="btn_agregar_producto" class="input-group-addon" style="background: #3974FD; color:white; border:none;" onclick="agregar_producto_chose();">
                            [Shift + A] <i class="fa fa-mail-forward"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="table-header">Bienvenido a Super Moreno's: esta es su lista de artículos</div>
                <div data-size="445">
                    <div id='sample-table-2_wrapper' class='dataTables_wrapper form-inline no-footer'>
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr>
                                    <th>Código Barras</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Opciones</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="body_tabla_compra">
                                <tr>
                                    <td class="text-muted" style="padding-top: 13px; text-align: center" colspan="6">No tiene artículos en la lista</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class='col-lg-2'>
                <div>
                    <label>
                        TOTAL
                        <small class="text-warning">Total a pagar</small>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-usd"></i>
                        </span>
                        <input id="total_a_cobrar" class="form-control input-lg" value="0.00" type="text" style="text-align:right;" disabled="disabled">
                    </div>
                    <button id="btn_cobrar" onclick="lanzar_modal_cobrar();" class="btn btn-success btn-block">
                        Cobrar Efectivo <b>[Shift + C]</b>
                    </button>
                    <button id="btn_cobrar" onclick="lanzar_modal_cobrar_tarjeta();" class="btn btn-purple btn-block">
                        Cobrar Tarjeta <b>[Shift + T]</b>
                    </button>
                    <button id="btn_cobrar_parcial" onclick="lanzar_modal_cobrar_parcial();" class="btn btn-white btn-warning btn-bold btn-block">
                        Cobro a crédito <b>[Shift + R]</b>
                    </button>
                    <hr>
                    <button  class="btn btn-white btn-inverse btn-bold btn-block" data-toggle="modal" data-target="#modal_recargas">
                        <i class="ace-icon fa fa-phone"></i>
                        Registro de recargas
                    </button>
                    <hr>
                    <button id="btn_importe" data-toggle="modal" data-target="#modal_importe" class="btn btn-white btn-success btn-bold btn-block">
                        Importe <b>[Shift + I]</b>
                    </button>
                    <hr>
                    <!-- COMPUTADORA IS GAYTAN-->
                    <!--<a class="btn btn-white btn-info btn-bold btn-block" href="http://localhost/ProyectosIs/cobro_agua_menores/index.php/inicio" target="_blank">
                        Cobro agua <b>[Shift + G]</b>
                    </a>-->
                    <!-- COMPUTADORA IS GAYTAN SUPRAMAX-->
                    <a class="btn btn-white btn-info btn-bold btn-block" href="http://localhost/proyectos_web/cobro_agua/index.php/inicio" target="_blank">
                        Cobro agua <b>[Shift + G]</b>
                    </a>
                    <!-- COMPUTADORA SUPRAMAX-->
                    <!--<a class="btn btn-white btn-info btn-bold btn-block" href="http://localhost/ProyectosIs/cobro_agua/index.php/inicio" target="_blank">
                        Cobro agua <b>[Shift + G]</b>
                    </a>-->
                    <hr>
                    <button class="btn btn-white btn-info btn-bold btn-block">
                        <i class="ace-icon fa fa-bullhorn"></i>
                        Cambios y devoluciones
                    </button>
                </div>
            </div>
            <div id="modal_recargas" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Registro de recargas</h3>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label class="green">Teléfono</label>
                                <div class="input-group">
                                    <input id="telefono_recarga" type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label class="green">Monto</label>
                                <select clasS="form-control" id="monto_recarga">
                                    <option value="10">$10.00</option>
                                    <option value="20">$20.00</option>
                                    <option value="30">$30.00</option>
                                    <option value="50">$50.00</option>
                                    <option value="50">$60.00</option>
                                    <option value="50">$100.00</option>
                                    <option value="50">$150.00</option>
                                    <option value="50">$300.00</option>
                                    <option value="50">$500.00</option>
                                    <option value="50">$1000.00</option>
                                    
                                </select>
                            </div>
                            <div>
                                <label class="green">Compañía telefónica</label>
                                <select clasS="form-control" id="compania_telefonica">
                                    <option value="Telcel">Telcel</option>
                                    <option value="Movistar">Movistar</option>
                                    <option value="Iusacell">Iusacell</option>
                                    <option value="Unefón">Unefón<option>
                                </select>
                            </div>
                            <div>
                                <label class="green">Folio</label>
                                <div class="input-group">
                                    <input id="folio_recarga" type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <i class="fa fa-google-wallet"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label class="green">Transacción</label>
                                <div class="input-group">
                                    <input id="transaccion_recarga" type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <i class="fa fa-expand"></i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <label class="green">Número de autorización</label>
                                <div class="input-group">
                                    <input id="numero_autorizacion_recarga" type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <i class="fa fa-check-square-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="registrar_recarga" type="button" class="btn btn-success" onclick="registrar_recarga()">
                                <i class='ace-icon fa fa-check'></i>
                                Registrar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal_importe" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Registro de importes</h3>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label class="green">Referencia</label>
                                <input id="referencia_importe" type="text" class="form-control">
                            </div>
                            <div>
                                <label class="green">Cantidad</label>
                                <input id="cantidad_importe" type="text" class="form-control">
                            </div>
                            <div>
                                <label class="green">Tipo de envase</label>
                                <select clasS="form-control" id="tipo_envase">
                                    <option value="refresco">Refresco</option>
                                    <option value="cerveza">Cerveza</option>
                                    <option value="garrafon_agua">Garrafón Agua</option>
                                </select>
                            </div>
                            <div>
                                <label class="green">Notas</label>
                                <textarea class="form-control" id="notas"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="registrar_inporte" type="button" class="btn btn-success" onclick="registrar_importe()">
                                <i class='ace-icon fa fa-check'></i>
                                Registrar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal_cobrar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Cobrar Venta</h3>
                        </div>
                        <div class="modal-body">
                            <div style="display:block;" id="div_modo_cobro">
                                <h5 id="mensaje_cobrar"></h5>
                                <div class="form-group">
                                    <label>Recibí:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            $
                                        </span>
                                        <input type="text" clasS="form-control" id="input_recibi">
                                        <input type="text" clasS="form-control" id="input_total_aux" style="display: none;">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label bolder blue">¿Descuento?</label>
                                    <div class="radio">
                                        <label>
                                            <input id="no" name="radios-descuento" type="radio" class="ace input-lg" checked="checked" onclick="radios_descuento(this.id);">
                                            <span class="lbl bigger-100">
                                                No
                                            </span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input id="porcentual" name="radios-descuento" type="radio" class="ace input-lg" onclick="radios_descuento(this.id);">
                                            <span class="lbl bigger-100">
                                                Porcentual
                                            </span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input id="pesos" name="radios-descuento" type="radio" class="ace input-lg" onclick="radios_descuento(this.id);">
                                            <span class="lbl bigger-100">
                                                Pesos
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div id="form-descuento-pesos" class="form-group" style="display: none">
                                    <label>Cantidad Descuento:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            $
                                        </span>
                                        <input type="text" clasS="form-control" id="input_descuento_pesos">
                                    </div>
                                </div>
                                <div id="form-descuento-porcentual" class="form-group" style="display: none">
                                    <label>Porcentaje Descuento:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            %
                                        </span>
                                        <input type="text" clasS="form-control" id="input_descuento_porcentual">
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label>Cambio:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            $
                                        </span>
                                        <input type="text" clasS="form-control" id="input_cambio" disabled="disabled" placeholder="0.00">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-primary" id="btn_calcular_cambio">
                                                Calcular
                                            </button>
                                        </span>
                                    </div>
                                </div>-->
                            </div>
                            <div id="div_resumen_venta" style="display:none">
                                
                                
                                <h4 class="green">El CAMBIO: <b>$25.00</b></h4>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="concluir_venta">Cerrar</button>
                            <button id="cobrar_carrito" type="button" class="btn btn-success" onclick="realizar_cobro()">
                                <i class='ace-icon fa fa-check'></i>
                                Cobrar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal_cobrar_tarjeta" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Cobrar Venta Con Tarjeta</h3>
                        </div>
                        <div class="modal-body">
                            <h5 id="mensaje_cobrar_tarjeta"></h5>
                            <br>
                            <div class="widget-box ui-sortable-handle">
                                <div class="widget-header">
                                    <h5 class="widget-title">
                                        Datos para el registro del cobro
                                    </h5>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div>
                                            <label class="green">Terminal</label>
                                            <div class="input-group">
                                                <input id="terminal_venta" type="text" class="form-control" value="82373" disabled="disabled">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="green">Transacción</label>
                                            <div class="input-group">
                                                <input id="transaccion_venta" type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="green">Lote</label>
                                            <div class="input-group">
                                                <input id="lote_venta" type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="green">Factura</label>
                                            <div class="input-group">
                                                <input id="factura_venta" type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="green">Referencia</label>
                                            <div class="input-group">
                                                <input id="referencia_venta" type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-toolbox padding-8 clearfix">
                                        <button id="cobrar_carrito" type="button" class="btn btn-purple pull-right" onclick="realizar_cobro_tarjeta()">
                                            <i class='ace-icon fa fa-credit-card'></i>
                                            Cobrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="widget-box ui-sortable-handle"><!-- Inicio widget tarjeta vales-->
                                <div class="widget-header">
                                    <h5 class="widget-title">
                                        Registrar cobro con tarjeta de vales
                                    </h5>
                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div>
                                            <label class="green">Referencia (tarjetahabiente)</label>
                                            <div class="input-group">
                                                <input id="tarjetahabiente" type="text" class="form-control" placeholder="Referencia" maxlength="30">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="green">Número de la tarjeta</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    XXXX XXXX XXXX 
                                                </span>
                                                <input id="num_tarjeta" type="text" class="form-control" maxlength="4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-toolbox padding-8 clearfix">
                                        <button id="btn_cobrar_tar_vales" type="button" class="btn btn-purple pull-right" onclick="realizar_cobro_tarjeta_vales();">
                                            <i class='ace-icon fa fa-credit-card'></i>
                                            Cobrar
                                        </button>
                                    </div>
                                </div>
                            </div><!-- Fin widget tarjeta vales-->
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            
            
            <div id="modal_cobrar_parcial" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">Registrar venta a crédito</h3>
                        </div>
                        <div class="modal-body">
                            <h4 class="text-warning">El total a cobrar es <strong>$<span id="cantidad_a_cobrar"></span></strong></h4>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Cantidad a pagar</label>
                                <input id="cantidad_cobrar_pagar" type="text" class="form-control" placeholder="Cantidad a pagar" style="text-align: right;">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Cantidad a crédito</label>
                                <input id="cantidad_credito_cobrar" class="form-control" type="text" disabled placeholder="Cantidad a crédito"  style="text-align: right;">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Observaciones</label>
                                <textarea class="form-control" id="observaciones_venta_credito"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Cliente</label>
                                <select id="clientes_modal_cobrar_parcial" class="form-control" class="chosen-select tag-input-style">

                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-white btn-bold" data-dismiss="modal">Cerrar</button>
                            <button id="registrar_venta_parcial_btn" type="button" class="btn btn-warning btn-white btn-bold" onclick="realizar_cobro_parcial()">
                                <i class='ace-icon fa fa-expand'></i>
                                Registrar Venta
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal_aumentar_credito" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title blue">¿Aumentar límite de crédito a este cliente?</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label no-padding-right">Cliente</label>
                                <input id="cliente_aumentar_credito" class="form-control" type="text" disabled placeholder="Cliente"  style="text-align: center;">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Límite de crédito actual</label>
                                <input id="limite_credito_actual" class="form-control" type="text" disabled placeholder="Límite de crédito actual"  style="text-align: right;">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Nuevo límite de crédito</label>
                                <input id="limite_credito_nuevo" class="form-control" type="text" placeholder="Nuevo límite de crédito"  style="text-align: right;">
                            </div>
                            <div class="form-group">
                                <label class="control-label no-padding-right">Código de autorización</label>
                                <input id="codigo_autorizacion" class="form-control" type="password" placeholder="Código de autorización"  style="text-align: center;">
                            </div>
                            <input id="id_cliente_aumentar_credito" class="form-control" type="password" placeholder="Código de autorización"  style="text-align: center; display:none;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-white btn-bold" data-dismiss="modal">Cancelar</button>
                            <button id="registrar_venta_parcial_btn" type="button" class="btn btn-warning btn-white btn-bold" onclick="aumentar_limite_credito()">
                                <i class='ace-icon fa fa-check'></i>
                                Autorizar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            
            
        </div>
    </div>
</div>       
    