<script language="JavaScript" type="text/javascript" src="../_modulos/historial_ventas/historial_ventas.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Historial de ventas</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Historial de ventas
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Consulta el historial de ventas a crédito, contado, con tarjeta.
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Fecha Inicial</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                        <input class="form-control" type="text" id="fecha_inicial_historial">
                    </div>
                </div>
                <div class="form-group">
                    <label>Fecha Final</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="fecha_final_historial">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tipo de venta</label>
                    <select class="form-control" id="select_tipo_venta">
                        <option value="0">Todos</option>
                        <option value="EFECTIVO">Efectivo</option>
                        <option value="TARJETA">Tarjeta</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success bigger-130 pull-right" onclick="buscar_historial_ventas();">
                    <i class="ace-icon fa fa-search bigger-120 white"></i>
                    Buscar
                </button>
            </div>
            <div class="col-lg-4"></div>
            <div id="section_tabla_resultados" style="display:none; margin-top: 30px;" class="col-lg-12">
                <div class="col-lg-10"></div>
                <div class="col-lg-2" style="margin-bottom: 15px;">
                    <label class="green" style="font-size: 20px;">TOTAL VENTAS</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar bigger-110"></i>
                        </span>
                        <input class="form-control" type="text" id="total_ventas" disabled style="text-align: right;">
                    </div>
                </div>
                <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer col-lg-12">
                    <thead>
                        <tr>
                            <th align="center">Id</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Tipo Venta</th>
                            <th>Vendedor</th>
                            <th>Tipo Cobro</th>
                            <th>Cliente</th>
                            <th>Cantidad Crédito</th>
                            <th>Cantidad Saldada</th>
                            <th>Referencia Tarjeta</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo_tabla">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</div>