<script language="JavaScript" type="text/javascript" src="../_modulos/proveedores/proveedores.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Proveedores</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Proveedores
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Registro, baja y modificación de proveedores
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#buscar" data-toggle="tab">
                                <i class="ace-icon fa fa-search"></i>
                                Buscar
                            </a>
                        </li>
                        <li>
                            <a id="pestana_registrar_proveedores" href="#registrar" data-toggle="tab">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                Registrar
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="buscar">
                            <div class="row">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-12" for="nombre">Nombre</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="nombre_buscar" placeholder="Nombre" class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="municipio">Municipio</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="municipio_buscar" placeholder="Municipio" class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="dias">Días De Visita</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="select_dias">
                                                    <option value="0">Todos</option>
                                                    <option value="lunes">Lunes</option>
                                                    <option value="martes">Martes</option>
                                                    <option value="miercoles">Miércoles</option>
                                                    <option value="jueves">Jueves</option>
                                                    <option value="viernes">Viernes</option>
                                                    <option value="sabado">Sábado</option>
                                                    <option value="domingo">Domingo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="periodo">Periodo de visita</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="select_periodo_visita">
                                                    <option value="0">Todos</option>
                                                    <option value="sem">Semanal</option>
                                                    <option value="qui">Quincenal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="estatus">Estatus</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="select_estatus">
                                                    <option value="0">Todos</option>
                                                    <option value="AC">Alta</option>
                                                    <option value="BA">Baja</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-4"></div>
                                <div class="col-lg-12">
                                    <div id="busca_proveedor_error" class="alert alert-danger" style="display: none;">
                                        <p id="msj_err_bus_prov">Error: no se puede completar la operación</p>
                                    </div>
                                </div>
                                <div class="col-lg-10"></div>
                                <div class="col-lg-2">
                                    <button id = "buscar_proveedores" onclick="buscar_proveedores()" class="btn btn-success btn-lg">
                                        <i class="ace-icon fa fa-search bigger-120 white"></i>
                                        Buscar
                                    </button>
                                </div>
                                <div id="section_tabla_resultados" class="col-xs-12" style="display:none; margin-top: 30px;">
                                    <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Teléfono</th>
                                                <th>Dirección</th>
                                                <th>Periodo de visita</th>
                                                <th>Estatus</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cuerpo_tabla">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>         
                        </div>
                        <div class="tab-pane" id="registrar">
                            <div class="row">
                                <div class="form-horizontal" role="form">
                                    <div class="col-lg-6">
                                        <div id="grupo_nombre" class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="nombre">Nombre</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="nombre" maxlength="30" placeholder="Nombre" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="telefono">Teléfono</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="telefono" placeholder="Teléfono" class="input-mask-phone col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="calle">Calle</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="calle" maxlength="40" placeholder="Calle" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="numero_ext">Número Ext</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="numero_ext" maxlength="8" placeholder="Número Ext" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="colonia">Colonia</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="colonia" maxlength="30" placeholder="Colonia" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="municipio">Municipio</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="municipio" maxlength="30" placeholder="Municipio" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="ciudad">Estado</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="estado" maxlength="30" placeholder="Estado" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="cp">Código Postal</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="cp" maxlength="5" placeholder="Código Postal" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="widget-box">
                                            <div class="widget-header">
                                                <h5 class="widget-title">Visitas</h5>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <div class="control-group form-inline center">
                                                        <div class="radio">
                                                            <label>
                                                                <input id="radio_semanal" name="radio_visita" type="radio" checked class="ace" value="1">
                                                                <span class="lbl">
                                                                    Semana
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input id="radio_quincenal" name="radio_visita" type="radio" class="ace" value="0">
                                                                <span class="lbl">
                                                                    Quincena
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="space"></div>
                                                    <div class="control-group form-inline center">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_lun" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Lun
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_mar" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Mar
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_mie" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Mie
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_jue" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Jue
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_vie" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Vie
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_sab" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Sab
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input id="check_dom" name="dias_semana" type="checkbox" class="ace">
                                                                <span class="lbl">
                                                                    Dom
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- fin widget-box -->
                                    </div><!-- fin col-lg-6 -->
                                    <div class="col-lg-12">
                                        <div id="registro_proveedor_error" class="alert alert-danger" style="display: none;">
                                            
                                        </div>
                                        <div id="registro_proveedor_success" class="alert alert-success" style="display: none;">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-8"></div>
                                    <div class="col-lg-4">
                                        <button id="registrar_proveedor" onclick="registrar_proveedor()" class="btn btn-success btn-lg pull-right" style="display:block;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Registrar
                                        </button>
                                        <button id="modificar_proveedor" onclick="modificar_datos_proveedor($(this).attr('id_proveedor'))" class="btn btn-success btn-lg pull-right" style="display:none;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Modificar
                                        </button>
                                    </div>
                                </div>
                            </div><!-- fin row -->
                        </div><!-- fin tab-pane profile -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>