<script language="JavaScript" type="text/javascript" src="../_modulos/usuarios/usuarios.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Usuarios</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Usuarios
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Registro, baja y modificación de usuarios.
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a id="pestana_buscar_clientes" href="#buscar" data-toggle="tab">
                                <i class="ace-icon fa fa-search"></i>
                                Buscar
                            </a>
                        </li>
                        <li>
                            <a id="pestana_registrar_clientes" href="#registrar" data-toggle="tab">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                Registrar
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="buscar">
                            <div class="row">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-12" for="nombre_buscar">Nombre de usuario</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="nombre_buscar" placeholder="Nombre" class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="estatus">Rol de usuario</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="select_rol">
                                                    <option value="0">Todos</option>
                                                    <option value="admin">Administrador</option>
                                                    <option value="cajero">Cajero</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="estatus">Estatus de usuario</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="select_estatus">
                                                    <option value="0">Todos</option>
                                                    <option value="AC">Alta</option>
                                                    <option value="BA">Baja</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-4"></div>
                                <div class="col-lg-12" style="text-align: right;">
                                    <button id="buscar_usuarios" class="btn btn-success btn-lg" onclick="buscar_usuarios()">
                                        <i class="ace-icon fa fa-search bigger-120 white"></i>
                                        Buscar
                                    </button>
                                </div>
                                <div id="section_tabla_resultados" class="col-xs-12" style="display:none; margin-top: 30px;">
                                    <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Nombre de usuario</th>
                                                <th>Password</th>
                                                <th>Rol</th>
                                                <th>Estatus</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cuerpo_tabla">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>         
                        </div>
                        <div class="tab-pane" id="registrar">
                            <div class="row">
                                <div class="form-horizontal" role="form">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="nombre_usuario">Nombre</label>
                                            <input type="text" id="nombre_usuario" maxlength="30" placeholder="Nombre" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="apellido_pat">Apellido Paterno</label>
                                            <input type="text" id="apellido_pat" maxlength="30" placeholder="Apellido Paterno" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="username">Nombre de usuario</label>
                                            <input type="text" id="username" maxlength="30" placeholder="Nombre de usuario" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="password">Password</label>
                                            <input type="text" id="password" maxlength="30" placeholder="Password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="estatus">Rol</label>
                                            <select class="form-control" id="rol">
                                                <option value="admin">Administrador</option>
                                                <option value="cajero">Cajero</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-12" style="text-align: right;">
                                        <button id="registrar_cliente" onclick="registrar_usuario()" class="btn btn-success btn-lg pull-right" style="display:block;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div><!-- fin div/form -->
                            </div><!-- fin row -->
                        </div><!-- fin tab-pane profile -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>