<script language="JavaScript" type="text/javascript" src="../_modulos/cuentas_proveedores/cuentas_proveedores.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Cuentas a proveedores</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Cuentas a proveedores
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Consulta y pago de cuentas a proveedores
                </small>
            </h1>
        </div>
        
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-12" for="rango_fechas_cuentas_proveedores">Fecha Inicial</label>
                        <div class="input-group col-sm-12" style="padding-left: 3%; padding-right: 3%;">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                            <input class="form-control active" type="text" name="fecha_inicial_cuentas" id="fecha_inicial_cuentas">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="rango_fechas_cuentas_proveedores">Fecha Final</label>
                        <div class="input-group col-sm-12" style="padding-left: 3%; padding-right: 3%;">
                            <input class="form-control active" type="text" name="fecha_final_cuentas" id="fecha_final_cuentas">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="municipio">Proveedor</label>
                        <div class="col-sm-12">
                            <select id="prov_cue_cobr" class="form-control chosen-select-1 tag-input-style">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="estatus">Estatus</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="select_estatus">
                                <option value="0">Todas</option>
                                <option value="PA">Pagadas</option>
                                <option value="PE">Pendientes</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-lg-12">
                <div id="busca_proveedor_error" class="alert alert-danger" style="display: none;">
                    <p id="msj_err_bus_prov">Error: no se puede completar la operación</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="busca_cuentas_compras_error" class="alert alert-danger" style="display: none;">

                </div>
            </div>
            <div class="col-lg-12" style="text-align: right;">
                <button onclick="buscar_cuentas_pagar()" class="btn btn-success btn-lg">
                    <i class="ace-icon fa fa-search bigger-120 white"></i>
                    Buscar
                </button>
            </div>
            <div id="section_tabla_resultados" class="col-xs-12" style="display:none; margin-top: 30px;">
                <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                    <thead>
                        <tr>
                            <th align="center">Id</th>
                            <th>Fecha operación</th>
                            <th>Fecha pago</th>
                            <th>Referencia pago</th>
                            <th>Total compra</th>
                            <th>Total pagado</th>
                            <th>Total a crédito</th>
                            <th>Proveedor</th>
                            <th>Observaciones</th>
                            <th>Estatus</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo_tabla">

                    </tbody>
                </table>
            </div>
        </div><!-- Fin del row-->     
    </div>
</div>