<script language="JavaScript" type="text/javascript" src="../_modulos/historial_compras/historial_compras.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Historial de compras</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Historial de compras
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Consulta el historial de compras a crédito y compras comunes.
                </small>
            </h1>
        </div>
        <div class="row">
            <!--<div class="col-lg-6">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="widget-title">Consultar historial de compras a crédito</h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="form-group">
                                <label>Fecha Inicial</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_inicial_compras_credito">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rango_fechas_cuentas_proveedores">Fecha Final</label>
                                <div class="input-group">
                                    <input class="form-control active" type="text" id="fecha_final_compras_credito">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div style="text-align: right;">
                                <button class="btn btn-primary" id="btn_buscar_compras_credito">
                                    Buscar
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="widget-title">Consultar historial de compras comunes</h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="form-group">
                                <label>Fecha Inicial</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_inicial_compras">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rango_fechas_cuentas_proveedores">Fecha Final</label>
                                <div class="input-group">
                                    <input class="form-control active" type="text" id="fecha_final_compras">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tipo de compra</label>
                                <select class="form-control" id="select_tipo_compra">
                                    <option value="0">Todos</option>
                                    <option value="comun">Común</option>
                                    <option value="credito">Crédito</option>
                                </select>
                            </div>
                            <div style="text-align: right;">
                                <button class="btn btn-primary" id="btn_buscar_compras">
                                    Buscar
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row" id="section_tabla_resultados">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="col-lg-9"></div>
                <div class="col-lg-3" style="margin-bottom: 15px;">
                    <label class="green" style="font-size: 20px;">TOTAL COMPRAS</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar bigger-110"></i>
                        </span>
                        <input class="form-control" type="text" id="total_compras" disabled style="text-align: right;">
                    </div>
                </div>
                <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                    <thead>
                        <tr>
                            <th align="center">Fecha</th>
                            <th>Cantidad</th>
                            <th>Usuario</th>
                            <th>Cantidad crédito</th>
                            <th>Proveedor</th>
                            <th>Tipo compra</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo_tabla">

                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>