<script language="JavaScript" type="text/javascript" src="../_modulos/cuentas_clientes/cuentas_clientes.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Cuentas clientes</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Cuentas clientes
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Consulta y cobro de cuentas a clientes
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="row" id="seccion_abono" style="margin-top: 30px;">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 widget-container-col ui-sortable">
                    <div class="widget-box ui-sortable-handle">
                        <div class="widget-header">
                            <h5 class="widget-title">Abonar a cliente</h5>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up">

                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body" style="display:block;">
                            <div class="widget-main">
                                <div class="form-group">
                                    <label class="col-sm-12">Cantidad a abonar</label>
                                    <input class="form-control" type="text" id="cantidad_abonar" style="text-align: right;">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Cliente abonar</label>
                                    <select id="clientes_cuentas_cobrar_abonar" class="form-control chosen-select-1 tag-input-style">

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Observaciones</label>
                                    <textarea class="form-control" id="comentarios_abono"></textarea>
                                </div>
                                <div style="text-align: right;">
                                    <button type="button" class="btn btn-primary" id="btn_abonar" onclick="abonar_cliente();">Abonar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div clasS="row" style="margin-top:30px;">
                <div class="col-lg-6">
                    <div class="widget-container-col ui-sortable">
                        <div class="widget-box ui-sortable-handle">
                            <div class="widget-header">
                                <h5 class="widget-title">Consultar historial de compras a crédito</h5>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-up">

                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body" style="display:block;">
                                <div class="widget-main">
                                    <div>
                                        <div class="form-group">
                                            <label for="rango_fechas_cuentas_proveedores">Fecha Inicial</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>
                                                <input class="form-control active" type="text" name="fecha_inicial_cuentas" id="fecha_inicial_cuentas">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="rango_fechas_cuentas_proveedores">Fecha Final</label>
                                            <div class="input-group">
                                                <input class="form-control active" type="text" name="fecha_final_cuentas" id="fecha_final_cuentas">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="municipio">Cliente</label>
                                            <select id="clientes_cuentas_cobrar" class="form-control chosen-select-1 tag-input-style">

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="estatus">Estatus</label>
                                            <select class="form-control" id="select_estatus">
                                                <option value="0">Todas</option>
                                                <option value="PA">Pagadas</option>
                                                <option value="PE">Pendientes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="text-align: right;">
                                        <button onclick="buscar_cuentas_cobrar()" class="btn btn-success btn-lg">
                                            <i class="ace-icon fa fa-search bigger-120 white"></i>
                                            Buscar
                                        </button>
                                    </div>
                                    <div id="section_tabla_resultados" style="display:none; margin-top: 30px;">
                                        <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Fecha venta</th>
                                                    <th>Total</th>
                                                    <th>Pagado</th>
                                                    <th>Fiado</th>
                                                    <th>Saldado</th>
                                                    <th>Observaciones</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>

                                            <tbody id="cuerpo_tabla">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- FIN CONTAINER -->
                </div><!-- FIN COL-LG-6-->
                <div class="col-lg-6">
                    <div class="widget-container-col ui-sortable">
                        <div class="widget-box ui-sortable-handle">
                            <div class="widget-header">
                                <h5 class="widget-title">Consultar historial de abonos</h5>
                                <div class="widget-toolbar">
                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-up">

                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body" style="display:block;">
                                <div class="widget-main">
                                    <div class="form-group">
                                        <label class="col-sm-12">Cliente</label>
                                        <select id="clientes_cuentas_buscar_abono" class="form-control chosen-select-1 tag-input-style">

                                        </select>
                                    </div>
                                    <div style="text-align: right;">
                                        <button type="button" class="btn btn-primary" onclick="buscar_pagos();">Buscar</button>
                                    </div>
                                    <div id="section_tabla_abonos" style="display:none; margin-top: 30px;">
                                        <table id="tabla_resultados_abonos" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Fecha abono</th>
                                                    <th>Cantidad</th>
                                                    <th>Cliente</th>
                                                    <th>Recibió abono</th>
                                                    <th>Observaciones</th>
                                                </tr>
                                            </thead>

                                            <tbody id="cuerpo_tabla_abono">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

