<script language="JavaScript" type="text/javascript" src="../_modulos/balance_caja/balance_caja.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Balance de caja</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Balance de caja
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Consulta el balance de la caja (ventas de contado, crédito, tarjeta de crédito, vales, compras rápidas).
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Fecha Inicial</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                        <input class="form-control" type="text" id="fecha_inicial_balance">
                    </div>
                </div>
                <div class="form-group">
                    <label>Fecha Final</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="fecha_final_balance">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Cajero</label>
                    <select class="form-control" id="cajero_us">
                        <option>TODOS...</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success bigger-130 pull-right" onclick="generar_balance();">
                    <i class="ace-icon fa fa-search bigger-120 white"></i>
                    Buscar
                </button>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-12" style="margin-top: 30px;">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody style="font-size: 20px;">
                            <tr>
                                <td width="25%">Vent. Efectivo Cont.</td>
                                <td width="25%" id="cant_efec_cont" align="right"></td>
                                <td width="25%">Vent. Efectivo Cré.</td>
                                <td width="25%" id="cant_efec_cre"  align="right"></td>
                            </tr>
                            <tr>
                                <td width="25%">Vent. Vales Cont.</td>
                                <td width="25%" id="cant_val_cont"  align="right"></td>
                                <td width="25%">Vent. Tarjeta C/D Cont.</td>
                                <td width="25%" id="cant_tar_cont"  align="right"></td>
                            </tr>
                            <tr>
                                <td width="25%">Recargas</td>
                                <td width="25%" id="cant_rec"  align="right"></td>
                                <td width="25%">Importes</td>
                                <td width="25%" id="cant_imp"  align="right"></td>
                            </tr>
                            <tr>
                                <td width="25%">Compras</td>
                                <td width="25%" id="cant_com"  align="right"></td>
                                <td width="25%">Abonos</td>
                                <td width="25%" id="cant_abo"  align="right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div id="section_tabla_resultados" style="display:block; margin-top: 30px;" class="col-lg-12">
                <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer col-lg-12">
                    <thead>
                        <tr>
                            <th>Id Operación</th>
                            <th>Concepto</th>
                            <th>Fecha</th>
                            <th>Importe</th>
                            <th>Tipo Pago</th>
                            <th>Cajero</th>
                            <th>Tipo Cobro</th>
                            <th>Cliente</th>
                            <th>Cantidad Crédito/Saldada</th>
                            <th>Referencia Tarjeta</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo_tabla">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>