<script language="JavaScript" type="text/javascript" src="../_modulos/clientes/clientes.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Clientes</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Clientes
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Registro, baja y modificación de clientes.
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a id="pestana_buscar_clientes" href="#buscar" data-toggle="tab">
                                <i class="ace-icon fa fa-search"></i>
                                Buscar
                            </a>
                        </li>
                        <li>
                            <a id="pestana_registrar_clientes" href="#registrar" data-toggle="tab">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                Registrar
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="buscar">
                            <div class="row">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-12" for="nombre_buscar">Nombre</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="nombre_buscar" placeholder="Nombre" class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="apellido_pat_buscar">Apellido Paterno</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="apellido_pat_buscar" placeholder="Apellido Paterno" class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="alias_buscar">Alias</label>
                                            <div class="col-sm-12">
                                                <input type="text" id="alias_buscar" placeholder="alias" class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12" for="estatus">Estatus</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="select_estatus">
                                                    <option value="0">Todos</option>
                                                    <option value="AC">Alta</option>
                                                    <option value="BA">Baja</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-4"></div>
                                <div class="col-lg-12">
                                    <div id="busca_cliente_error" class="alert alert-danger" style="display: none;">
                                        <p id="msj_err_bus_clie">Error: no se puede completar la operación</p>
                                    </div>
                                </div>
                                <div class="col-lg-10"></div>
                                <div class="col-lg-2">
                                    <button id="buscar_clientes" class="btn btn-success btn-lg" onclick="buscar_clientes()">
                                        <i class="ace-icon fa fa-search bigger-120 white"></i>
                                        Buscar
                                    </button>
                                </div>
                                <div id="section_tabla_resultados" class="col-xs-12" style="display:none; margin-top: 30px;">
                                    <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Alias</th>
                                                <th>Teléfono</th>
                                                <th>Dirección</th>
                                                <th>Saldo</th>
                                                <th>Límite c.</th>
                                                <th>Estatus</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cuerpo_tabla">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>         
                        </div>
                        <div class="tab-pane" id="registrar">
                            <div class="row">
                                <div class="form-horizontal" role="form">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="nombre_cliente">Nombre</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="nombre_cliente" maxlength="30" placeholder="Nombre" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="apellido_pat">Apellido Paterno</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="apellido_pat" maxlength="30" placeholder="Apellido Paterno" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="apellido_mat">Apellido Materno</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="apellido_mat" maxlength="30" placeholder="Apellido Materno" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="alias">Alias</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="alias" maxlength="30" placeholder="Alias" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="telefono_cli">Teléfono</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="telefono_cliente" placeholder="Teléfono" class="col-sm-10 col-xs-10 input-mask-phone">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="calle_cliente">Calle</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="calle_cliente" maxlength="30" placeholder="Calle" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="numero_cliente">Número Ext</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="numero_cliente" maxlength="8" placeholder="Número Ext" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="colonia_cliente">Colonia</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="colonia_cliente" maxlength="30" placeholder="Colonia" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="municipio_cliente">Municipio</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="municipio_cliente" maxlength="30" placeholder="Municipio" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="cp_cliente">Código Postal</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="cp_cliente" placeholder="Código Postal" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="limite_credito">Límite de crédito</label>
                                            <div class="col-sm-9">
                                                <input type="number" id="limite_credito" onchange="dos_decimales(this);" placeholder="Límite de crédito" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div id="registro_cliente_error" class="alert alert-danger" style="display: none;">
                                            
                                        </div>
                                        <div id="registro_cliente_success" class="alert alert-success" style="display: none;">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-8"></div>
                                    <div class="col-lg-4" style="text-align: right;">
                                        <button id="registrar_cliente" onclick="registrar_cliente()" class="btn btn-success btn-lg pull-right" style="display:block;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Guardar
                                        </button>
                                        <button id="modificar_cliente" onclick="modificar_datos_cliente($(this).attr('id_cliente'))" class="btn btn-success btn-lg" style="display:none;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Modificar
                                        </button>
                                    </div>
                                </div><!-- fin div/form -->
                            </div><!-- fin row -->
                        </div><!-- fin tab-pane profile -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>