<script language="JavaScript" type="text/javascript" src="../_modulos/productos/productos.js"></script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Inicio</a>
            </li>
            <li class="active">Productos</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                Productos
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Registro, baja y modificación de productos
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#buscar" data-toggle="tab">
                                <i class="ace-icon fa fa-search"></i>
                                Buscar
                            </a>
                        </li>
                        <li>
                            <a id="pestana_registrar_productos" href="#registrar" data-toggle="tab">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                Registrar
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="buscar">
                            <div class="row">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label" for="codigo_barras_buscar">Código de barras</label>
                                            <input type="text" id="codigo_barras_buscar" maxlength="30" placeholder="Código de barras" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="marca_producto_buscar">Marca</label>
                                            <input type="text" id="marca_producto_buscar" maxlength="30" placeholder="Marca" class="form-control">
                                        </div>
                                        <div class="form-group" style="display:none;">
                                            <label class="control-label" for="presentacion_buscar">Presentación</label>
                                            <input type="text" id="presentacion_buscar" maxlength="10" placeholder="Presentacion" class="form-control" style='text-align: right;'>
                                            <div class='col-lg-3' style='padding-top: 2px;'>
                                                <select id="presentacion_unidad_bus" class="col-sm-10 col-xs-10">
                                                    <option value="0">TODAS</option>
                                                    <option value="Kg">Kilo</option>
                                                    <option value="L">Litro</option>
                                                    <option value="g">gramo</option>
                                                    <option value="ml">mililitro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="unidad_medida_buscar">Unidad</label>
                                            <select id="unidad_medida_buscar" class="form-control">
                                                <option value="0">TODOS</option>
                                                <option value="pieza">Pieza</option>
                                                <option value="kilo">Kilo</option>
                                                <option value="litro">Litro</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="categoria_buscar">Categoría</label>
                                            <select id="categoria_buscar" class="form-control">
                                                <option value="0">TODOS</option>
                                                <option value="1">Abarrotes</option>
                                                <option value="2">Ferretería</option>
                                                <option value="3">Cremería</option>
                                                <option value="4">Papelería</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label" for="div_combo_proveedores_buscar">Proveedor</label>
                                            <select id="combo_proveedores_buscar" class="chosen-select tag-input-style">

                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label no-padding-right" for="estatus">Estatus</label>
                                            <select id="estatus_busqueda" class="form-control">
                                                <option value="0">TODOS</option>
                                                <option value="AC">Alta</option>
                                                <option value="BA">Baja</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-4"></div>
                                <div class="col-lg-12">
                                    <div id="busca_productos_error" class="alert alert-danger" style="display: none;">
                                        
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button id="buscar_productos" class="btn btn-success btn-lg pull-right" onclick="busca_productos()" style="margin-left: 5px;">
                                        <i class="ace-icon fa fa-search bigger-120 white"></i>
                                        Buscar
                                    </button>
                                    <button id="pdf_productos" class="btn btn-default btn-lg pull-right" onclick="genera_pdf_productos()" style="margin-left: 5px; display:none;">
                                        <i class="ace-icon fa fa-file-pdf-o bigger-120 white"></i>
                                        PDF
                                    </button>
                                    <button id="excel_productos" class="btn btn-default btn-lg pull-right" onclick="genera_excel_productos()" style="display:none;">
                                        <i class="ace-icon fa fa-file-excel-o bigger-120 white"></i>
                                        Excel
                                    </button>
                                </div>
                                <div id="section_tabla_resultados" class="col-xs-12" style="display:none; margin-top: 30px;">
                                    <table id="tabla_resultados" class="display table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                        <thead>
                                            <tr>
                                                <th align="center">Id</th>
                                                <th>Marca</th>
                                                <th>Presentación</th>
                                                <th>Unidad medida</th>
                                                <th>Precio compra</th>
                                                <th>Precio venta</th>
                                                <th>Codigo barras</th>
                                                <th>Existencia</th>
                                                <th>Proveedor</th>
                                                <th>Estatus</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cuerpo_tabla">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>         
                        </div>
                        <div class="tab-pane" id="registrar">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="marca_producto">Marca</label>
                                    <input type="text" id="marca_producto" maxlength="30" placeholder="Marca" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="unidad_medida">Unidad</label>
                                    <select id="unidad_medida" class="form-control">
                                        <option value="0">*SELECCIONE UNA...</option>
                                        <option value="pieza">Pieza</option>
                                        <option value="kilo">Kilo</option>
                                        <option value="litro">Litro</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="codigo_barras">Código de barras</label>
                                    <input type="text" id="codigo_barras" maxlength="30" placeholder="Código de barras" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="proveedor">Proveedor</label>
                                    <select id="combo_proveedores" class="chosen-select tag-input-style form-control">

                                    </select>
                                </div>
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class='widget-title'>Presentación</h4>
                                        <div class='widget-toolbar'>
                                            <a href='#' data-action='collapse'>
                                                <i class='ace-icon fa fa-chevron-up'>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="form-group">
                                                <label class="control-label" for="marca_producto">Cantidad</label>
                                                <input type="number" id="presentacion" onchange="dos_decimales(this);" placeholder="Cantidad" class="form-control">
                                            </div>
                                            <div class='form-group'>
                                                <label class="control-label" for="marca_producto">Unidad</label>
                                                <select id="presentacion_unidad" class="form-control">
                                                    <option value="Kg">Kilo</option>
                                                    <option value="L">Litro</option>
                                                    <option value="g">gramo</option>
                                                    <option value="ml">mililitro</option>
                                                    <option value="pz">pieza</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class='widget-title'>Precios</h4>
                                        <div class='widget-toolbar'>
                                            <a href='#' data-action='collapse'>
                                                <i class='ace-icon fa fa-chevron-up'>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="form-group">
                                                <label class="control-label" for="marca_producto">Precio de compra</label>
                                                <div class='input-group'>
                                                    <span class='input-group-addon' style='background-color: #197BB1; color:white;'>
                                                        $
                                                    </span>
                                                    <input id="precio_compra" class="form-control" type="number" style="text-align: right;" onchange="dos_decimales(this);">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="porcentaje">Porcentaje</label>
                                                <div class='input-group'>
                                                    <input id="porcentaje" class="form-control" type="number" placeholder="Porcentaje de ganancia" onchange="sin_decimales(this);" style="text-align: right;">
                                                    <span class='input-group-addon' style='background-color: #197BB1; color:white;'>
                                                        %
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="marca_producto">Precio de venta</label>
                                                <div class='input-group'>
                                                    <span class='input-group-addon' style='background-color: #197BB1; color:white;'>
                                                            $
                                                    </span>
                                                    <input id="precio_venta" class="form-control" type="number" style="text-align: right;" onchange="dos_decimales(this);">
                                                </div>
                                            </div>
                                            <div style='text-align: right;'>
                                                <button class='btn btn-small btn-primary' onclick='calcular_precio_venta();'>
                                                    Calcular
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="texto_ticket">Texto para ticket</label>
                                    <input type="text" id="texto_ticket" maxlength="30" placeholder="Texto para ticket" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="existencia">Existencia</label>
                                    <input type="number" id="existencia" placeholder="Existencia" class="form-control" onchange="dos_decimales(this);">
                                </div>
                                <div class="form-control">
                                    <label class="inline">
                                        <input type="checkbox" class="ace" id="check_venta_libre">
                                        <span class="lbl">
                                            ¿Venta Libre?
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="existencia">Categoría</label>
                                    <select id="categoria" class="form-control">
                                        <option value="0">*SELECCIONE UNO...</option>
                                        <option value="1">Abarrotes</option>
                                        <option value="2">Ferretería</option>
                                        <option value="3">Cremería</option>
                                        <option value="4">Papelería</option>
                                    </select>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="form-horizontal" role="form">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        <!--<div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="marca_producto">Marca</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="marca_producto" maxlength="30" placeholder="Marca" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="presentacion">Presentación</label>
                                            <div class="col-sm-5">
                                                <input type="text" id="presentacion" maxlength="10" placeholder="Presentacion" class="col-sm-12 col-xs-12" style='text-align: right;'>
                                            </div>
                                            <div class='col-lg-3' style='padding-top: 2px;'>
                                                <select id="presentacion_unidad" class="col-sm-10 col-xs-10">
                                                    <option value="Kg">Kilo</option>
                                                    <option value="L">Litro</option>
                                                    <option value="g">gramo</option>
                                                    <option value="ml">mililitro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="unidad_medida">Unidad</label>
                                            <div class="col-sm-9">
                                                <select id="unidad_medida" class="col-sm-10 col-xs-10">
                                                    <option value="0">*SELECCIONE UNA...</option>
                                                    <option value="pieza">Pieza</option>
                                                    <option value="kilo">Kilo</option>
                                                    <option value="litro">Litro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label no-padding-right">Precio de compra</label>
                                            <div class='col-lg-9'>
                                                <input id="precio_compra" class="col-lg-10" type="text" value="0.00" style="text-align: right;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="presentacion">Descuento (%)</label>
                                            <div class="col-sm-5">
                                                <input type="text" id="porcentaje_descuento" maxlength="10" placeholder="Porcentaje de descuento" class="col-lg-10" style='text-align: right;'>
                                            </div>
                                            <div class='col-lg-3'>
                                                <button class="btn btn-success">Calcular</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label no-padding-right">Precio de venta</label>
                                            <div class='col-lg-9'>
                                                    <input id="precio_venta" class="col-lg-10" type="text" value="0.00" style="text-align: right;" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="codigo_barras">Código de barras</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="codigo_barras" maxlength="30" placeholder="Código de barras" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="texto_ticket">Texto para ticket</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="texto_ticket" placeholder="Texto para ticket" class="col-sm-10 col-xs-10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="existencia">Existencia</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="existencia" maxlength="30" placeholder="Existencia" class="col-sm-10 col-xs-10" value="0.00" style="text-align: right;">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="categoria">Categoría</label>
                                            <div class="col-sm-9">
                                                <select id="categoria" class="col-sm-10 col-xs-10">
                                                    <option value="0">*SELECCIONE UNO...</option>
                                                    <option value="1">Abarrotes</option>
                                                    <option value="2">Ferretería</option>
                                                    <option value="3">Cremería</option>
                                                    <option value="4">Papelería</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="categoria">Proveedor</label>
                                            <div class="col-sm-9" id="div_combo_proveedores">
                                                <select id="combo_proveedores" class="col-sm-10 col-xs-10 chosen-select tag-input-style">
                                                    
                                                </select>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-12">
                                        <div id="registro_producto_error" class="alert alert-danger" style="display: none;">
                                            
                                        </div>
                                        <div id="registro_producto_success" class="alert alert-success" style="display: none;">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-8"></div>
                                    <div class="col-lg-4" style="text-align: right;">
                                        <button id="registrar_producto" onclick="registrar_producto()" class="btn btn-success btn-lg pull-right" style="display:block;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Guardar
                                        </button>
                                        <button id="modificar_producto" onclick="modificar_datos_producto($(this).attr('id_producto'))" class="btn btn-success btn-lg pull-right" style="display:none;">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 white"></i>
                                            Modificar
                                        </button>
                                    </div>
                                </div><!-- fin div/form -->
                            </div><!-- fin row -->
                        </div><!-- fin tab-pane profile -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>